/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Padyakke+Expanded+One&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin:0;
  background: #45badd;
}

.container {
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  background-size: 550px;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  color: white;
  font-size: 60px;
  margin-top: 100px;
  line-height: .9;
}


input[type="text"] {
  height: 40px;
  border-radius: 8px;
  width:80%;
  max-width: 400px;
  margin-bottom: 50px;
  font-size: 20px;;
}
audio {
  width:250px;
}

@media screen and (max-width: 1000px) {
  .container {
    background-size: 320;
    background-position: top;
  }
}